body{
    margin: 0;
    background-color: black;
    color: white;
}
p{
    text-align: center;
}
h1{
    text-align: center;
    margin-top: 100px;
}
ol{
    font-size: 0;
    margin: 0;
    padding: 0;
    background-color:white;
    text-align: center;
   color: black;
}

li{
width: calc(100%/7);
font-size: 16px;
display: inline-block;
color: black;
}
div{
    width: 100%;
    margin-top: auto;
}
nav ol li a{
    text-decoration: 0;
    color: black;
}
a{
    text-decoration: 0;
}