body{
    margin-top: 0;
    margin-left: 5%;
    background-color: #eedec7;
}
p{
    text-align: center;
}
h1{
    text-align: center;
    margin-top: 100px;
}
ol{
    font-size: 0;
    margin: 0;
    padding: 0;
    text-align: center;
}

li{
width: calc(100%/6);
font-size: 16px;
display: inline-block;

}
section img {
   width: 30%;
   height: auto;
   display: inline-block;
   margin-right: 15%;
   vertical-align: top;
}
nav ol li a{
    text-decoration: 0;
    color: black;
}
article{
    border: solid black 1px;
    border-radius: 10px;
    padding: 25px;
    margin: 20px;
    width: 250px;
    background-color: #fff;
    text-align: center;
    display: inline-block;
}
article a{
    text-decoration: none;
    color: black;
}
.bloques{
margin: 0 auto;
width: 80%;
}

