body{
    margin: 0;
}
p{
    text-align: center;
}
h1{
    text-align: center;
    margin-top: 100px;
}
ol{
    font-size: 0;
    margin: 0;
    padding: 0;
    background-color: red;
    text-align: center;

}

li{
width: calc(100%/7);
font-size: 16px;
display: inline-block;

}
div{
    width: 100%;
    margin-top: auto;
}
nav ol li a{
    color: white;
    text-decoration: 0;
}
a{
    text-decoration: 0;
}