ol{
    font-size: 0;
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    text-align: center;
}
li{
width: calc(100%/6);
font-size: 16px;
display: inline-block;
}
nav ol li a{
    text-decoration: 0;
    color: black;
}
article{

    display: inline-block;
}
section img{
    width: 60%;
    position: relative top 10px;
}
a{
    text-decoration: inherit;
    color: black;
}
.migrana{
    color: red;
}